section.bigCalc#blog.sect
   .container
      .bigCalc__wrap
         h2  Сколько стоит доступная разработка? 
         .rate
            p Мы работаем по time and materials с фиксированной стоимостью часа.
            .price 1190 &#8381;
            span в час
         form(action='')
            input(type="tel" name="phone" placeholder="Имя")
            input(type="text" name="name" placeholder="Номер телефона")
            button(type="submit") Заказать расчет
         p Нажимая кнопку "отправить", я даю согласие на обработку своих персональных данных