section.cases#rate.sect
   .container
      .cases__wrap
         h3 Кейсы
         .cases__content
            .cases__item
               img(src="./img/cases-11-Snow.jpg" alt="bg")
               .cases__description 
                  h6 Интернет магазин для Снежной Королевы
                  .cases__numbers
                     .cases__num
                        span +47%
                        p К конверсии в первый месяц по сравнению с моб. версией
                     .cases__num
                        span +1,8%
                        p Прирост мужской аудитории за 2018–2019 гг.
                     .cases__num
                        span +11%
                        p Увеличение среднего чека (все когорты пользователей)
                  img.cases__logo.first(src="./img/cases-12-Snow.png" alt="mobi")
            .cases__item
               img(src="./img/cases-21-maximum.jpg" alt="bg")
               .cases__description 
                  h6 Интернет магазин для Maximum
                  .cases__numbers
                     .cases__num
                        span 217+
                        p Дизайн макетов, детально-проработанных сценариев
                     .cases__num
                        span 2020
                        p Запуск первого алкогольного e-Commerce в России
                     .cases__num
                        span 0.1 сек
                        p Скорость загрузки страниц: самый быстрый фронтенд
                  img.cases__logo(src="./img/cases-22-maximum.png" alt="mobi")
            .cases__item
               img(src="./img/cases-31-mobi.jpg" alt="bg")
               .cases__description 
                  h6 Логотип MobiApp
                  .cases__numbers
                     .cases__num
                        span +20%
                        p Целевое увеличение конверсии на тестах
                     .cases__num
                        span 5
                        p Кликов до целевого действия: сократили сценарий в два раза
                     .cases__num
                        span +33%
                        p Увеличение среднего чека
                  img.cases__logo(src="./img/cases-32-mobi.png" alt="mobi")
