footer   
  .container
    .footer__wrap
      img(src="./img/footer-logo.svg" alt="logo")
      .footer__block
        .footer__firstBlock
          .footer__competences
            h5 Наши подразделения
            a(href="#")
              p Бизнес-презентации
            a(href="#")
              p Графический дизайн
            a(href="#")
              p E-Commerce
            a(href="#")
              p Лендинги
          .footer__locations
            h5 Приходите в гости

            a(href="#")
              p Москва:<br> ул. Ильинка, д. 4 (Гостиный Двор)

            a(href="#")
              p Тольятти:<br> ул. Офицерская, д. 12А, корп. 1 (ТЦ «Рим»)

            a(href="#")
              p Краснодар:<br> ул. Северная, д. 490 (БЦ «Кутузовский»)

        .footer__secondBlock
          .contacts
            h5 Всегда на связи
            .footer__mail
              img(src="./img/footer-mail 1.png" alt="mail")
              a(href="mailto:hello@tsekh.design") hello@tsekh.design
            .footer__phone
              img(src="./img/footer-phone 1.png" alt="phone")
              a(href="tel:+7 495 369 20 29") +7 495 369 20 29

          .footer__networks
            h5 Мы в соцсетях
            a(href="#")
              img(src="./img/footer-soc-1.png" alt="soc1")
            a(href="#")
              img(src="./img/footer-soc-2.png" alt="soc2")
            a(href="#")
              img(src="./img/footer-soc-3.png" alt="soc3")

