header#header
  .container
    .header__wrap
      img.header__logo(src="./img/logoBlueLine.svg" alt="логотип")
      nav.nav
        a(href="#" data-scroll="#studio") Студия
        a(href="#" data-scroll="#hotShop") Горячий ЦЕХ
        a(href="#" data-scroll="#projects") Проекты
        a(href="#" data-scroll="#rate")  Тариф
        a(href="#" data-scroll="#blog") Блог
        a(href="#" data-scroll="#work") Работа у нас
      button.header__btn Рассчитать проект
      .wrapper-menu#wrapper-menu
        .line-menu.half.start
        .line-menu
        .line-menu.half.end








