section.internet#studio.sect
   .container
      .internet-wrap
         .internet__header
            .internet__description
               h3 Интернет — отличная площадка для развития малого бизнеса 
               p  Но создать достойное онлайн-представительство с ограниченным бюджетом непросто.
            img(src="./img/internet-blackBox.png" alt="blackBox").internet__blackBox
         .internet__paragraphs
            .internet__item
               .img__wrap
                  img(src="./img/internet-item-1.png" alt="конструктор").first
               h5 Конструктора недостаточно
               p Вам нужен индивидуальный сайт или каталог. Базовых возможностей конструктора сайтов недостаточно: вы хотите индивидуальную вёрстку, анимацию, функционал.

            .internet__item
               .img__wrap
                  img(src="./img/internet-item-2.png" alt="конструктор").secondChild.second
               h5 Небольшой объём работ
               p Вам не нужна постоянная поддержка или масштабная разработка. Крупным разработчикам такой заказ неинтересен.

            .internet__item
               .img__wrap
                  img(src="./img/internet-item-3.png" alt="конструктор").third
               h5 Дёшево — значит «некачественно»
               p У вас уже был опыт работы с «недорогими разработчиками», и результат вас не устроил. Сайт работает со сбоями, информация отображается некорректно.
            .internet__item
               .img__wrap
                  img(src="./img/internet-item-4.png" alt="конструктор").fourth
               h5 Бюджет ограничен
               p Ваш бюджет на корпоративный портал или каталог меньше, чем хотелось бы. Вы не готовы платить по прайсу крупных разработчиков.


