section.simpleDevelopment 
   .container
      .simpleDevelopment__wrap
         .simpleDevelopment__description
            .simpleDevelopment__text 
               h1 Простая разработка
               p Фронтенд и бэкенд разработка корпоративных порталов и интернет-каталогов. Простые интеграции по приемлемой стоимости.
            button.calculation  Заказать рассчет проекта
         img.notebook(src="./img/simple-development-notebook.png" alt="")


