section.stack#projects.sect
   .container
      .stack__wrap
         .stack__content
            h3 Стек технологий
            .stack__blockItems
               .stack__item
                  .stack__itemWrap
                     img(src="./img/stack-1vuejs.png" alt="vue")


               .stack__item
                  .stack__itemWrap
                     img(src="./img/stack-2django-logo 1.png" alt="vue")


               .stack__item
                  .stack__itemWrap
                     img(src="./img/stack-3.png" alt="vue")
