section.team#work.sect
   .container
      .team__wrap
         h2 Кто будет работать над вашим проектом?
         img.all(src="./img/team-bg.jpg" alt="")
         .team__description   
            p Команда junior-разработчиков. Час их работы стоит дешевле, чем разработка в крупных компаниях. При этом их компетенции хватает для выполнения простых интеграций.
            .team__senior  
               img(src="./img/team-senior.jpg" alt="")
               p Курирует разработку senior-разработчик Антон Копкин

      .services 
         h2 Если вам нужна не только разработка
         p  Команда TSEKH.design возьмёт на себя:
         .services__block
            .services__item.first
               h5 Графический дизайн
               .services__product   
                  span Иллюстрации
                  span Презентации
                  span Открытки
                  span Рекламные баннеры
                  span Памятки
                  span Плакаты
               a(href="#")
                  .services__btn
                     img(src="./img/services-arrow-right 1.svg" alt="arrow")
            .services__item.second
               h5 Веб-дизайн
               .services__product   
                  span Лендинги
                  span Многостраничные сайты
                  span Интернет-магазины

               a(href="#")
                  .services__btn
                     img(src="./img/services-arrow-right 1.svg" alt="arrow")
            .services__item.third
               h5 Дополнительные услуги
               .services__product   
                  span Маркетинг
                  span Аналитика
                  span Корректура
                  span Верстка сайтов и лендингов
                  span Копирайтинг
               a(href="#")
                  .services__btn
                     img(src="./img/services-arrow-right 1.svg" alt="arrow")


