section.whatWeDoing#hotShop.sect
   .container
      .whatWeDoing__wrap
         h2 Что мы делаем в рамках доступной разработки?
         .whatWeDoing__blockItems
            .whatWeDoing__item
               .item__image
                  img.logo(src="./img/logoBlueLine.svg" alt="logoBlueLine")
               .item__description
                  h4 Корпоративные порталы
                  p Многостраничные сайты с комплексной информацией о компании.
                  p История развития, направления деятельности, актуальные офферы, новости, бренды и типы товаров/услуг в каталоге и т. д.
                  p Удобная CMS, чтобы вы могли самостоятельно добавлять и корректировать информацию, создавать новые типовые страницы и удалять неактуальные.
            .whatWeDoing__item
               .item__image
                  img(src="./img/whatWeDoing-item-2.png" alt="whatWeDoing-item-2")
               .item__description
                  h4 Каталоги товаров
                  p С фотографиями, описаниями, техническими характеристиками и ценами на каждый товар.
                  p Единственное отличие от интернет-магазина — товары нельзя купить на сайте напрямую.
                  p Интеграция с CRM для управления каталогом и отдельными товарами.
            .whatWeDoing__item
               .item__image
                  img(src="./img/whatWeDoing-item-3.png" alt="whatWeDoing-item-3")
               .item__description
                  h4 Простые интеграции
                  p Многостраничные сайты с комплексной информацией о компании.
                  p История развития, направления деятельности, актуальные офферы, новости, бренды и типы товаров/услуг в каталоге и т. д.
                  p Удобная CMS, чтобы вы могли самостоятельно добавлять и корректировать информацию, создавать новые типовые страницы и удалять неактуальные.


         .whatWeDoing__calculate
            img(src="./img/whatWeDoing-notebook.png" alt="notebook")
            .whatWeDoing__calcBlock
               .whatWeDoing__calculateText 
                  h4 Заказать расчет проекта
                  p Опишите цели проекта, задачи и нужный стек разработки, если это важно. Мы рассчитаем примерную стоимость в пределах одного дня
               .whatWeDoing__inputs
                  input(type="tel" name="phone" placeholder="Имя")
                  input(type="text" name="name" placeholder="Номер телефона")
                  button(type="submit") Заказать расчет
                  p
                     small Нажимая кнопку "Заказать расчет", я даю согласие на обработку персональных данных


